@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

#cartaCustom {
  background: white;
  margin-top: 200px;
  width: 300px;
  height: 50%;
  border: 5px solid black;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#topColor {
  display: flex;
  flex-direction: row;
}

#bottomColor {
  display: flex;
  flex-direction: row-reverse;
}

.diamond,
.heart {
  font-size: 80px;
  color: red;
  padding: 0px;
  margin-top: 0px;
}

.spade,
.club {
  padding: 0px;
  font-size: 80px;
  color: black;
  margin-bottom: 0px;
}

#cardNumber {
  font-size: 100px;
}

#randomize {
  font-size: large;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 100px;
}

#stopTimer {
  font-size: large;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

#resumeTimer {
  font-size: large;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

#mesaVerde {
  text-align: center;
}
#mesaVerde2 {
  text-align: center;
}
#mesaVerde3 {
  text-align: center;
}
